on:
  workflow_dispatch:
  push:
    tags:
      - "**"
      - "!devel"
      - "!devel_latest"
  jobs:
    Notify on slack:
      runs-on: ubuntu-latest
      timeout-minutes: 160
    steps:
      - run: echo ${{ github }}