name: awesome_action
on: workflow_dispatch
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: notif
        uses: rapyuta-robotics/rr_action_slack_template_fixer@1.0.1-beta
        with:
          template-input-path: resources/example.json
          template-output-path: resources/example_fixed.json
          replacements: |
            NOTIFICATION_HEADER=":warning:  `io_amr_ui` *image build failed*"
            SERVER_URL="${{ github.server_url }}"
            REPOSITORY="${{ github.repository }}"
            BRANCH="${{ github.head_ref || github.ref_name }}"
            RUN_ID="${{ github.run_id }}"
      - name: test
        run: cat resources/example_fixed.json