name: awesome_action
on: workflow_dispatch
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: notif
        uses: rapyuta-robotics/rr_action_slack_template_fixer@feature/overhaul
        with:
          template-input-path: resources/example.json
          template-output-path: resources/example_fixed.json
          ad-hoc-replacements: |
            NOTIFICATION_HEADER=":warning:  `io_amr_ui` *image build failed*"
            NOTIFICATION_FOOTER=":dancing_pikachu:  better luck next time"
            SERVER_URL="${{ github.server_url }}"
      - name: test
        run: cat resources/example_fixed.json