on:
  workflow_dispatch:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'
jobs:
  notify_on_slack:
    runs-on: ubuntu-latest
    timeout-minutes: 160
    steps:
      - run: echo "${{ toJSON(github) }}"
